@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: black;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black;
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
